/* Base Styles */
:root {
    --text-color: #98C1D9;
    --link-color: #ffffff;
    --background-color: #000000;
    font-size: 16px; /* Set the base font size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}

/* @font-face {
    font-family: "Steph";
    src: url("fonts/steph-font.ttf");
} */

body {
    font-family: "Roboto Mono", serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    /* background-color: #bfd6c4; */
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

nav .left a {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    font-size: 1.375rem;
    margin: 0 0.625rem;
}

nav .right a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

/* General Section Styles */
section {
    padding: 8rem 2rem;
    /* min-height: 80vh; Reduce the default minimum height */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section:nth-of-type(odd) {
    background-color: #000000; /* Light gray for odd sections */
}

section:nth-of-type(even) {
    background-color: #000000f8; /* White for even sections */
}

/* Section Heading Styles */
section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
}

section h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #bfd6c4;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* About Section */


#about-section {
    min-height: 100vh;
    /* flex-direction: column; */
    justify-content: space-evenly;
    padding: 8rem 2rem;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    /* border: 2px whitesmoke solid; */
}



#about-section h2 {
    margin-bottom: 3.75rem;
    font-size: 3rem;
    font-weight: 400;

    
}

#about-section .headshot {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 37px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* border: 2px whitesmoke solid; */
    justify-content: end;
}

#about-section .headshot img {
    width: 100%;
    height: 100%;
    border-radius: ;
    object-fit: cover;
    transition: transform 0.4s ease;
}

#about-section .headshot img:hover {
    transform: scale(1.2);
}

#about-section .bio {
    margin-bottom: 2rem;
    padding: 0 2rem;
    /* max-width: 56.25rem; */
    width: 50%;
    border: 2px green solid;
}

#about-section .bio p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    color:#98C1D9;
}

#about-section .social-links {
    font-size: 2.25rem;
}

#about-section .social-links a {
    padding: ;
    margin: 0 0.75rem;
}

#about-section .social-links a i {
    transition: transform 0.3s, color 0.3s;
}

#about-section .social-links a:hover i {
    color: #a5d6b0;
    transform: scale(1.2);
}

#about-section .social-links i {
    color: #98C1D9;
    font-weight: 500;
    padding-top: 3.75rem;
}

/* Info section  */

#info-section {
    width: 100%;
    min-height: 80PX;
    padding: 1rem 1.25rem;
    background-color: #98C1D9;
}

.info {
    width: 1152px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-inline: auto;
    
}
/* Experience Section */
#experience-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#experience-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#experience-section .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 56.25rem;
    width: 100%;
}

#experience-section .experience-box {
    background-color: #bfd6c4;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
}

#experience-section .experience-box h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

#experience-section .experience-box p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
}

/* Projects Section */
#projects-section {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

#projects-section h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

#projects-section h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color:#98C1D9;
    text-decoration: underline;
}

.project-subsection {
    width: 100%;
    margin-bottom: 4rem; /* Add space between subsections */
 } 

/* .projects-scroll-container  */

.swiper-wrapper {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    margin: 0 auto;
    justify-content: center;
}

.project-box {
   
    flex: 0 0 20rem; /* Fixed width for the boxes */
    text-align: center;
    /* border: 1px solid #030303; */
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #dfdfdf;
    box-shadow: 0 4px 8px rgba(212, 212, 212, 0.151);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
   
}

.project-box:hover {
    transform: scale(0.95); /* Grow the box slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.20);
}

.project-box img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(26, 26, 26);
}

.project-box h5 {
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.project-box p {
    font-size: 0.75rem;
    font-weight: 300;
    color: #242424;
   text-align: left;
   
    
}

/* Skills Section */
#skills-section {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem; /* Add gap between elements */
}

#skills-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#skills-section .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; /* Add gap between icons */
}

#skills-section i {
    font-size: 3rem;
    color: #98C1D9;
    transition: transform 0.3s ease, color 0.3s ease;
    margin: 1rem 0; /* Add margin to ensure proper spacing */
}

#skills-section i:hover {
    transform: scale(1.2);
    color: #a5d6b0;
}

/* Leave a Message Section */
#leave-message-section {
    min-height: 50vh; /* Make it half the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

#leave-message-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#leave-message-section p {
    font-size: 1.25rem;
    color: #555;
    max-width: 600px;
    line-height: 1.6;
}

footer {
    background-color:#98C1D9;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.875rem;
}

/* Cards Swiper */
.swiper {
    width: 100%;
  }

.swiper-slide {
    width: 280px;
    /* width: 272px !important; */
    min-height: 500px;
   
}

.swiper-slide > a {
    display: block;
    transform: scale(0.9);
    width: 280px;
    height: 500px;
}


/* Media Queries for Responsiveness */
@media (min-width: 1690px) {
    .swiper-wrapper {
        justify-content:center;
    }
}

@media (max-width: 992px) {
    nav .left a {
        font-size: 1.25rem;
    }

    nav .right a {
        font-size: 1rem;
        margin: 0 0.5rem;
    }

    #about-section .headshot {
        width: 18rem;
        height: 18rem;
    }

    #projects-section .project-box {
        flex: 0 0 14rem; /* Adjust width for smaller screens */
    }

    #skills-section i {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    nav .left a {
        font-size: 1.25rem;
    }

    nav .right a {
        font-size: 1.1rem;
        margin: 0 0.375rem;
    }

    #about-section .headshot {
        width: 16rem;
        height: 16rem;
    }

    #projects-section .project-box {
        flex: 0 0 14rem;
    }

    #skills-section i {
        font-size: 2rem;
    }

    #skills-section .skills-container {
        gap: 1.25rem;
     }
}

@media (max-width: 576px) {
    nav {
        padding: 0 0.3rem;
    }

    nav .left a {
        font-size: 1.1rem;
    }

    nav .right a {
        font-size: 0.7rem;
        margin: 0 0rem;
        /* border: 2px green solid; */

    }

    #about-section .bio {
        margin-bottom: 2rem;
        padding: 0 0.5rem;
        /* max-width: 56.25rem; */
        width: 100%;
        /* border: 2px green solid; */
    }
    

    #about-section .social-links {
        font-size: 1.75rem;
    }

    #about-section h2 {
        font-size: 2rem;
    }

    #about-section .headshot {
        width: 12rem;
        height: 12rem;
    }

    #projects-section .project-box {
        flex: 0 0 14rem;
    }

    #skills-section i {
        font-size: 1.5rem;
    }

    #skills-section .skills-container {
       gap: 1rem;
    }

    section {
        padding: 6rem 1rem; /* Adjust padding for smaller screens */
    }

    #projects-section {
        padding: 6rem 1rem; /* Adjust padding for smaller screens */
    }

    #leave-message-section {
        padding: 3rem 1rem; /* Adjust padding for smaller screens */
    }
}